@import "./utils/variables";
@import "./utils/reset";
@import "./utils/mobile-menu.scss";
@import "./components/header";
@import "./components/hero";
@import "./components/no-pad-lorem";
@import "./components/skills";
@import "./components/team";
@import "./components/clients";
@import "./components/services";
@import "./components/gallery";
@import "./components/overlay";
@import "./components/footer";
@import "./components/footer-logo";
@import "./components/footer-adress";
@import "./components/footer-social";
@import "./components/footer-newsletter";
@import "./utils/modal";
@import "./components/navigation-list-menu";