.footer-banner {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color:var(--main-white);
    @media screen and (min-width: 1200px) {
      justify-content: left;
    // padding-top:72px;
    }
  }
    .footer-icon {
      display: flex;
      justify-content: center;
      }
    .footer-icon__item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        text-decoration: none;
        fill: var(--main-white);
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover {
        background-color: var(--main-blue);
        fill: var(--main-white);
      }
  }
 // =========footer newsletter=========
 .newsletter {
    flex-direction: column;
    width: 570px;
  }
  .newsletter-banner {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-top: 60px;
    @media screen and (min-width: 1200px) {
      margin-top: 0px;
        justify-content: left;
  }
}
  .newsletter-footer {
    gap: 12px;
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
        margin-left: 70px;
    @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    }
  }
}
.footer-form {
  display: flex;
  flex-direction: column;
}
  .footer-newsletter__placeholder {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--background-grey);
    padding: 14px 16px;
    outline: none;
    color: var(--main-white);
    line-height: 1.25;
    font-size: 16px;
    letter-spacing: 0.03em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
 &focus {
    border-color: var(--main-blue);
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
 }
    @media screen and (min-width: 768px) {
      width: 450px;
    }
      @media screen and (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0px;
      }
  }

.new-button {
    display: flex;
    justify-content: center;
}
  .footer-newsletter__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    width:200px;
    height: 50px;
    border-radius: 4px;
    // font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-white);
    border: 0px;
    margin: 0 auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    cursor: pointer;
    // margin-left: 12px;
  }
  .button-icon {
    margin-left:24px;
    fill: var(--main-white);
  }
  .footer-social {
    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
    }
  