.header,
.navigation,
.navigation-list {
  display: flex;
  align-items: center;
  max-width: 768px;
  height: 60px;

@media screen and (min-width: 768px) {
  max-width: 100%;
  height: 80px;
}
// @media screen and (min-width: 1200px) {
//   height: 80px;
// }
}
.navigation-list__item {
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;

  }
}
.navigation-list {
display: none;
flex-direction: column;
margin-left: 40px;
align-items: center;

@media screen and (min-width: 768px) {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
}
.header .navigation {
@media screen and (min-width: 768px) {
  // border-bottom: 1px solid var(--border-color);
}
}

.header .logo {
  margin-top: 14px;
  margin-right: auto;
  margin-bottom: 15px;

@media screen and (min-width: 768px) {
  //  margin-right: 293px;
margin-right: 0px;
// margin-left: 15px??????
@media screen and (min-width: 1200px) {
margin: auto;
}
}
}


.header .contact-link:not(:last-child) {
@media screen and (min-width: 1200px) {
    // margin-left: auto;
    // margin-right: 50px;
}
  }
.contact-link-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin-left: auto;
      gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
   margin: auto;
    gap: 30px;
  }
}
  .contact-link {
    display: none;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    color: var(--bright-grey);
    fill: var(--bright-grey);
    font-style: normal;
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 10px;
&:hover, focus {
    color: var(--main-blue);
    fill:  var(--main-blue);

  }
}
  }

  .logo-first {
    color: var(--main-blue);
//     @media screen and (min-width: 1200px) {
// // margin-left: 215px;
//     }
  }

  .header {
    color: var(--black);
    @media screen and (min-width: 768px) {
    padding: 10px 0;
    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }
}
  .navigation-list__item:not(:last-child) {
    // margin-right: 46px;
    // margin-bottom: 36px;
    margin-right: 60px;
  }
  .navigation-link {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
    // letter-spacing: 0.02em;
    // line-height: 1.14;
    // text-decoration: none;
    // font-family: roboto;
    // font-weight: 500;
    // font-size: 14px;
    // position: relative;
    text-decoration: none;
    color: var(--black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
     // letter-spacing: 0.02em;
    // line-height: 1.14;
    // text-decoration: none;
    // font-family: roboto;
    // font-weight: 500;
    // font-size: 14px;
    position: relative;
  
    &:hover{
    color: var(--main-blue);
    text-decoration: none;
    }
  }
}
  .navigation-link--active {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
    position: relative;
    text-decoration: none;
    color: var(--black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--main-blue);
    
    @media screen and (min-width: 768px) {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
 &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--main-blue);
    bottom: -32px;
    left: 0;
    
  
}
  }
  }
