.header .container,
.navigation,
.navigation-list {
  display: flex;
  align-items: center;
  max-width: 768px;
}
.navigation-list {
display:flex;
flex-direction: column;
margin-left: 40px;
align-items: flex-start;
margin-bottom: 302px;
}
.header .navigation {
  // border-bottom: 1px solid var(--border-color);
}

.header .logo {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-left: 0;
}
.header .contact-link:not(:last-child) {
    // margin-left: auto;
    // margin-right: 50px;
  }
  .contact-link {
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    color: var(--bright-grey);
    fill: var(--bright-grey);
    font-style: normal;
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, focus {
    color: var(--main-blue);
    fill:  var(--main-blue);
  }
}
.header .logo {
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
    margin-left: 0;
  }
  .logo-first {
    color: var(--main-blue);
    margin-left: 15px;
  }
  .header {
    color: var(--black);
  }
  .navigation-list__item:not(:last-child) {
    // margin-right: 46px;
    margin-bottom: 36px;
  }
  .navigation-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
    // letter-spacing: 0.02em;
    // line-height: 1.14;
    // text-decoration: none;
    // font-family: roboto;
    // font-weight: 500;
    // font-size: 14px;
    // position: relative;
    text-decoration: none;
    color: var(--black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
    color: var(--main-blue);
    text-decoration: none;
    }
  }
  .navigation-link--active {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
    position: relative;
    text-decoration: none;
    color: var(--black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
    color: var(--main-blue);
//  &::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     border-radius: 4px;
//     background-color: var(--main-blue);
//     bottom: -32px;
//     left: 0;
    
  
}
