.navi-menu {
 margin-left: 40px;
  margin-top: 48px;
  margin-bottom: auto;
}
.navi-menu-two {
  margin-bottom: 48px;
  margin-left: 40px;
  position: fixed;
  bottom: 0px;
}
.navigation-list-menu-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
// margin-left: 40px;
// margin-bottom: 64px;
align-items: flex-start;
gap: 32px;
}
.navigation-list-menu {
    display: flex;
    align-items: center;
    max-width: 768px;
  flex-direction: column;
  align-items: flex-start;
  }
  .contact-link-menu-mail {
    margin-bottom: 48px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--bright-grey);
    fill: var(--bright-grey);
    font-style: normal;
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, focus {
    color: var(--main-blue);
    fill:  var(--main-blue);
  }
}
.contact-link-menu-phone {
  font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;
letter-spacing: 0.02em;
text-decoration: none;
  color: var(--bright-grey);
  fill: var(--bright-grey);
  font-style: normal;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, focus {
  color: var(--main-blue);
  fill:  var(--main-blue);
}
}
.navigation-list-menu-social {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.list-menu-social {
  padding-right: 10px;
  margin-right: 10px;
&:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
}
.line {
  color: var(--main-blue);
  padding-inline: 10px;

}
.menu-link {
color: var(--main-blue);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
text-decoration: none;
}
.navigation-list-menu__item:not(:last-child) {
  // margin-right: 46px;
  margin-bottom: 36px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    
  }
}
.navigation-link-menu {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: auto;
      // letter-spacing: 0.02em;
      // line-height: 1.14;
      // text-decoration: none;
      // font-family: roboto;
      // font-weight: 500;
      // font-size: 14px;
      // position: relative;
      text-decoration: none;
      color: var(--black);
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
      &:hover{
      color: var(--main-blue);
      text-decoration: none;
      }
    }
    .navigation-link-menu--active {
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
      position: relative;
      text-decoration: none;
      color: var(--black);
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      color: var(--main-blue);
  //  &::after {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 4px;
  //     border-radius: 4px;
  //     background-color: var(--main-blue);
  //     bottom: -32px;
  //     left: 0;
  @media screen and (min-width: 768px) {
font-size: 14px;
}
    }